@tailwind base;

@tailwind components;

.pre-formatted h2 {
    font-weight: theme('fontWeight.bold');
    font-size: theme('fontSize.2xl');
}

.pre-formatted h2:not(:first-child) {
    margin-top: theme('spacing.6');
}

.pre-formatted p {
    color: theme('colors.gray.700');
}

.pre-formatted p:not(:first-child) {
    margin-top: theme('spacing.6');
}

.pre-formatted a {
    color: theme('colors.blue.700');
}

.pre-formatted a:hover {
    color: theme('colors.blue.800');
    text-decoration: underline;
}

.loading {
    position: relative;
    color: transparent;
}

.loading::after {
    position: absolute;
    display: block;
    animation: spin 500ms infinite linear;
    border-radius: theme('borderRadius.full');
    border-width: 0.125em;
    border-top-color: theme('colors.gray-400');
    border-right-color: theme('colors.gray-400');
    border-right-color: transparent;
    border-top-color: transparent;
    content: '';
    height: 1em;
    width: 1em;
    left: calc(50% - (1em / 2));
    top: calc(50% - (1em / 2));
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

@tailwind utilities;
